canvas {
    touch-action: none;
}

body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    background-color: blue;
    grid-template-rows: 50px 1fr 50px;
}

header,
footer {
    width: 100%;
    background-color: blue;
}

main {
    background-color: red;
    min-height: 0;
    display: grid;
    place-items: center;
    container-type: size;
}

#primary-plot {
    width: 100cqmin;
    height: 100cqmin;
}
